DB_HOST=<DB_HOST>
DB_DATABASE=<DB_DATABASE>
DB_USERNAME=<DB_USERNAME>
DB_PASSWORD=<DB_PASSWORD>

OVERPASS_URL=https://overpass-api.de/api/interpreter
OVERPASS_TIMEOUT=600
OVERPASS_AGENT=map-directory-lake-fetcher/1.0